<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radiomag</title>
    <!-- Стилі тільки для підвала сайта - футера -->
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <!-- Підвал сайта - футер -->
    <footer class="footer">
        <div class="footer__groups">
            <div class="container">
                <div class="groups">
                    <div class="goods-group">
                        <img class="goods-group__img" src="img/electronic-parts.png" alt="електронные компоненты и комплектующие">
                        <a class="goods-group__text" href="">ЕЛЕКТРОННЫЕ КОМПОНЕНТЫ<br> И КОМПЛЕКТУЮЩИЕ</a>
                    </div>
                    <div class="goods-group">
                        <img class="goods-group__img" src="img/tools.png" alt="инструмент и оборудование">
                        <a class="goods-group__text" href="">ИНСТРУМЕНТ И ОБОРУДОВАНИЕ</a>
                    </div>
                    <div class="goods-group">
                        <img class="goods-group__img goods-group__img_size" src="img/praktychna_elektronika.png" alt="конструкторы и наборы">
                        <a class="goods-group__text" href="">КОНСТРУКТОРЫ И НАБОРЫ</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="container">
                <div class="info__footer">
                    <div class="sales-department">
                        <p class="sales-department__header">ОТДЕЛ ПРОДАЖ В КИЕВЕ</p>
                        <address class="sales-department__adress">г. Киев, Чоколовский бульвар, 42А, 
                            офис 134-1 <br>
                            <a href="tel:+380442200172" class="sales-department__link">+38 (044) 220-01-72</a><br>
                            <a href="tel:+380672407927" class="sales-department__link">+38 (067) 240-79-27 (28,29,31)</a><br>
                            <a href="tel:+380442200173" class="sales-department__link">+38 (044) 220-01-73</a><br>
                            <a href="mailto:sales@rcscomponents.kiev.ua" class="sales-department__link">sales@rcscomponents.kiev.ua</a>
                        </address>
                    </div>
                    <div class="info__section">
                        <p class="info__paragraf"><a class="info__link" href="">ПРОДУКЦИЯ</a></p>
                        <p class="info__paragraf"><a class="info__link" href="">НОВОСТИ</a></p>
                        <p class="info__paragraf"><a class="info__link" href="">МАГАЗИНЫ</a></p>
                        <p class="info__paragraf"><a class="info__link" href="">КОНТАКТЫ</a></p>
                    </div>
                    <div class="info__section">
                        <p class="info__paragraf"><a class="info__link" href="">ОТЗЫВЫ И ПРЕДЛОЖЕНИЯ</a></p>
                        <p class="info__paragraf"><a class="info__link" href="">КАК КУПИТЬ?</a></p>
                        <p class="info__paragraf"><a class="info__link" href="">ДОСТАВКА</a></p>
                    </div>
                    <div class="info__section">
                        <p class="info__paragraf info__paragraf_size"><a class="info__link" href="">ПЕРСОНАЛЬНАЯ ИНФОРМАЦИЯ</a></p>
                        <p class="info__paragraf"><a class="info__link" href="">ЗАКАЗЫ</a></p>
                        <p class="info__paragraf"><a class="info__link" href="">КОРЗИНА</a></p>
                        <p class="info__paragraf"><a class="info__link" href="">ВЫХОД</a></p>
                    </div>
                    <div class="info__section info__section_size">
                        <p class="footer__social">
                            <a href="" class="footer__social-img"><img src="img/vk.jpg" alt="социальная сеть ВК"></a>
                            <a href="" class="footer__social-img"><img src="img/facebook.jpg" alt="социальная сеть Facebook"></a>
                        </p>
                        <p class="footer__payment">
                            <img class="footer__payment-img" src="img/visa.jpg" alt="оплата VISA">
                            <img class="footer__payment-img" src="img/mastercard.jpg" alt="оплата masterCard">
                            <img class="footer__payment-img" src="img/privat.jpg" alt="оплата Приват24">
                            <img class="footer__payment-img" src="img/paypal.jpg" alt="оплата PayPal">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <p class="copyright">&#169; 2020 РАДІОМАГ</p>

</body>
</html>